__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
*.egg-info/
.DS_Store

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

reports/figures/*
reports/summaries/*
!reports/figures/.gitkeep
!reports/summaries/.gitkeep
reports/*.csv
